.mainContent{
    display: flex;
    background: 
        linear-gradient(181deg, rgba(41, 62, 145, 0.5), rgba(0, 0, 0, 0.7)),
        url('https://happywall-img-gallery.imgix.net/315/dimmig_skog_svartvit_display.jpg') center center no-repeat;;
}

.userListWrapper {
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1.2;
    order: 1;
    padding:40px 10px 40px 15px;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .userListWrapper {
        display: none;
    }
}

.feedWrapper {
    background-color: transparent;
    
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    padding:24px;
}

.chatFormWrapper {
    display: flex;
    height: 15%;
    background-color: #333333;
    z-index: 3;
    position: relative;
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}