<div class="navBar">
    <a id="logo" routerLink="/"><img src='../../assets/images/Logo.PNG'></a>
  <div class="links">
    <span>
      <a *ngIf="!user" href="#" routerLink="/login">Login</a>
    </span>
    <span>
      <a *ngIf="!user" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <a id="userEmail" *ngIf="user" [routerLink]="['/user', user.uid]">Hello, {{user.displayName}}</a>
    </span>
    <span>
      <a *ngIf="user" href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</div>