@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: 'Open Sans'
}

.container{
    height: 100%;
    overflow:hidden;
    display: block;
    background-color: #333333;
    margin: auto;
    padding-top: 50px;
    text-align: center;
  }
  
  .formInput{
    outline: 0;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    display: block;
    width: 40%;
    height: 40px;
    background: transparent;
    border-bottom: #ccc 1px solid;
    color: #ccc;
    padding: 8px;
    font-size:1.1em;
  }
  
  .btn{
    height: 54px;
    width: 20%;
    margin: auto;
    margin: 24px 0 24px 0;
    border: 2px solid #ccc;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    background-color: transparent;
    outline: 0;
    transition: ease-in 0.2s;
  }
  
  .btn:hover{
      color:rgb(214, 39, 39);
      border-color:rgb(214, 39, 39);
      transition: ease-in 0.2s;
      cursor: pointer;
  }

  .header{
      height: 50px;
      font-size: 40px;
      font-weight: 600;
      color: #ccc;
      margin-bottom: 50px;
  }

  .newUser{
      color: #ccc;
  }
  .newUser a{
      color: rgb(214, 39, 39);
  }
  
  a {
      text-decoration: none;
  }

  .error{
    height: auto;
    color: rgb(214, 39, 39);
  }