
<div class="container">
  <div class="header">Log In</div>
  <div class="error">{{errorMessage}}</div>
    <div [formGroup]="loginForm" >
            <input 
              formControlName="email"
              type="email" 
              name="email" 
              placeholder="Email"
              class="formInput" />
            <input type="password" 
            formControlName="password"
              name="password" 
              placeholder="Password"
              class="formInput" />
            <button class="btn" 
                    id="btn-login" 
                    (click)="login()">
                    Log In
            </button>
            <div class="newUser">
                <p>
                  New User? Click <a routerLink="/signup">here</a> to sign up!
                </p>
              </div>
      </div>
</div>
