.mainContent{
    display: flex;
}

.userListWrapper {
    background: whitesmoke;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1.5;
    order: 1;
    padding:20px 0px 40px 30px;
    overflow-y: auto;
    
    border-right: 1px solid #222;
}

.feedWrapper {
    background-color: #fff;
    background: 
        linear-gradient(181deg, rgba(255, 100, 100, 0.233), rgba(0, 0, .5, 0.5)),
        url('../../assets/images/background.jpg') center center no-repeat;;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    padding:24px;
}

.chatFormWrapper {
    display: flex;
    height: 20%;
    background-color: #333333;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}