.messageContainer{
    display: flex;
    height: auto;
    width: auto;
    max-width: 55%;
    align-items:stretch;
    background-color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
}

.isOwnMessageContainer{
    float: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.isOtherMessageContainer{
    float: left;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}


.messageData{ 
    float: left;
    background: transparent;
}

.timeStamp {
    color: #ccc;
    text-align: center;
}

.messageContent{
    height: auto;
    flex: 9;
    padding: 10px;
    color: #333333;
}

.isOwnMessageContainer{
    background-color: rgb(204, 234, 255);
    color: #01579B;
}

.profileImage{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    margin: 10px;    
    margin-top: 0;
    border: 3px solid whitesmoke;
}

.profileImage:hover{
 cursor: pointer;   
}