.messageContainer{
    display:flex;
    float: left;
    height: auto;
    width: 55%;
    min-width: 400px;
    border-radius: 15px;
    border: 2px solid #ccc;
    align-items:stretch;
    background-color: transparent;
}

.isOwnMessageContainer{
    float: right;
}
.isOwnMessageContainer .messageData{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.isOtherMessageContainer{
    float: left;
}
.isOtherMessageContainer .messageData{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.messageData{ 
    background-color: #ccc;
    flex: 1.5;
    padding: 10px;
    font-size: 1em;
    color: #333333;
}

.sender{
    display: block;
    color: #222;
    font-weight: bold;
}

.isOwnSender{
    color: #E1F5FE;
}

.timeStamp {
    color: #ccc;
    text-align: center;
}

.isOwnTimestamp{
    color: #4FC3F7;
}

.messageContent{
    height: auto;
    flex: 9;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
}

.isOwnMessageContent{
    background-color: #E3F2FD;
    color: #01579B;
}