.container{
    height: 100%;
    overflow:hidden;
    display: block;
    background-color: #333333;
    margin: auto;
    padding-top: 50px;
    text-align: center;
  }

  .helperMessage{
      height: 50px;
      color: rgb(214, 39, 39);
  }
  
  .formInput{
    outline: 0;
    text-align: center;
    margin: auto;
    margin-top: 16px;
    display: block;
    width: 33%;
    height: 40px;
    background: transparent;
    border-bottom: #ccc 2px solid;
    color: #ccc;
    padding: 8px;
    font-size:1.1em;
  }
  
  .btn{
    height: 54px;
    width: 20%;
    margin: auto;
    margin: 24px 0 24px 0;
    border: 2px solid #ccc;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    background-color: transparent;
    outline: 0;
    transition: ease-in 0.2s;
  }
  
  .btn:hover{
      color:rgb(214, 39, 39);
      border-color:rgb(214, 39, 39);
      transition: ease-in 0.2s;
  }
  
  #btn-signUp:disabled{
      background-color:#eee;
      color: #999;
  }
  
  h2{
      text-align: center;
      height: 2em;
  }
  
  a {
      text-decoration: none;
  }
  
  .label{
      font-size: 0.9em;
  }