<div *ngIf="user" class="profile">

    <div class="imageContent" [ngClass]="{'isOwnProfileImage' : isOwnProfile}">
          <div class="content-overlay"></div>
          <img *ngIf="imageUrl" 
              [src]="imageUrl" 
              alt="profile image" 
              class="profileImage" 
              >

          <div *ngIf='isOwnProfile' class="content-details fadeIn-top">
              <label for="fileInput">
                  <i class="material-icons text">edit</i>   
                  <input id="fileInput" type="file" (change)="startUpload($event.target.files)">                             
                </label> 
          </div>
      </div>

      <div *ngIf="snapshot | async as snap">
      </div>
      <div class="status" [ngClass]="user.status">
          <span class="status-text">{{user.status}}</span>
      </div>
      <div class="displayName">
        {{user.displayName}}
      </div>
</div>
      
