.profile{
    background-color: #333333
}

.container {
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    
}

.text {
  color:#1E88E5;
  font-size: 60px;
  padding: 16px 32px;
  height: auto;
}
.text:hover{
    cursor: pointer;
}
#fileInput{
    opacity: 0;
    height: 0;
    width: 0;
}
.displayName{
    font-weight: 200;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    text-align: center;
    color: whitesmoke;
}

.imageContent {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
  }
  
  .imageContent .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .imageContent:hover .content-overlay{
    opacity: 1;
  }
  
  .profileImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .isOwnProfileImage:hover .content-details{
    top: 75%;
    left: 50%;
    opacity: 1;
  }
  
  .fadeIn-top{
    top: 20%;
  }